# ---- Postgres ----
POSTGRES_USER=credra
POSTGRES_PASSWORD=credra
POSTGRES_DB=credra
POSTGRES_HOST_PORT=5433

# ---- Exposed host ports ----
FRONTEND_HOST_PORT=3000
BACKEND_HOST_PORT=4000
AI_LAYER_HOST_PORT=8001
PROCESSING_HOST_PORT=8000

# ---- Frontend build-time public env ----
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/v1
NEXT_PUBLIC_API_ORIGIN=http://localhost:4000
NEXT_PUBLIC_MONO_PUBLIC_KEY=test_pk_p18rz029dffsjhi2wnxd

# ---- Backend runtime env ----
CORS_ORIGIN=http://localhost:3000
DATABASE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=false
ADMIN_JWT_SECRET=96d84094fba4828b140b51cdaabc0a12c9b7a7ee39275f1ee6764051197ede25
CLIENT_JWT_SECRET=ffee537838748e1bf008d485103abdc87f9c22f9598c45a1cc3c0051e939333c
ADMIN_COOKIE_SECURE=false
MONO_SECRET_KEY=test_sk_p64l83bcjrqb4t31yclh
MONO_API_BASE=https://api.withmono.com
RESEND_API_KEY=re_bWMFzHno_2tEFWXDmQozPNa4ApjaGEsZk
RESEND_FROM=Credra <noreply@joscity.com>
BILLING_RECEIVING_BANK_NAME=GTBank
BILLING_RECEIVING_ACCOUNT_NUMBER=0558518751
BILLING_RECEIVING_ACCOUNT_NAME=Onoja William Bosworth

# Processing only; keep disable for local Postgres in Docker network
DATABASE_SSLMODE=disable
